/* Menu icons */

.blue_logo_mobile_menu {
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 52px;
    height: 73px;
}

.open-icon {
    display: block;
    position: absolute;
    width: 25px;
    height: 30px;
    background-image: url("images/nav-bt-open.svg");
    background-repeat: no-repeat;
    right: 20px;
    top: 37px;
    right: 6.5%;
    z-index: 5;
}

.open-icon.active {
    background-image: url("images/nav-bt-close.svg");
}


/* Sidenav menu */

.sidenav {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: -110%;
    background-color: white;
    padding-top: 60px;
    transition: 0.5s;
}


/* Sidenav menu links */

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav a:link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(50, 170, 255);
}


/* Active class */

.sidenav.active {
    top: 0;
}

.menu_item {
    text-align: center;
}

.bt_menu_donate_center :link {
    display: block;
    position: relative;
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 38px;
    margin: 50px auto 0 auto;
}

.bt_menu_donate_center :hover {
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 43px;
    margin: 50px auto 0 auto;
}