/* MENU TOP ICONS
-------------------------------------------------- */

.blue_logo_mobile_menu {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 42px;
    height: 60px;
    z-index: 5;
}

.open-icon {
    display: block;
    position: absolute;
    width: 25px;
    height: 30px;
    background-image: url("images/nav-bt-open.svg");
    background-repeat: no-repeat;
    right: 20px;
    top: 37px;
    right: 6.5%;
    z-index: 5;
}

.open-icon.active {
    background-image: url("images/nav-bt-close.svg");
}


/* SIDENAV MENU
-------------------------------------------------- */

.sidenav {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: -110%;
    background-color: white;
    padding-top: 60px;
    transition: 0.5s;
}


/* Sidenav menu links */

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav a:link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(50, 170, 255);
}


/* Active class */

.sidenav.active {
    top: 0;
}


/* MOBILE MENU GROUP / ITEMS
-------------------------------------------------- */

.mobile_menu_group_center {
    left: -10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 210px;
    background: white;
    /* outline: 1px solid black; */
}

.mobile_menu_group {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
}

.mobile_menu_group>* {
    font-size: 25px;
    line-height: 37px;
    font-weight: 400;
    color: #236FB0;
    text-align: left;
}

.mobile_menu_group>* :visited {
    color: #236FB0;
}

.bt_menu_donate_center {
    margin-left: -15px;
}

.bt_menu_donate_center :link {
    display: block;
    position: relative;
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 38px;
    margin: 30px auto 0 auto;
}

.bt_menu_donate_center :hover {
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 43px;
    margin: 30px auto 0 auto;
}


/* MOBILE MENU / Social Network part
-------------------------------------------------- */

.mobile_menu_global_social_network_container {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.mobile_menu_social_network_container {
    width: 100%;
    height: 240px;
    background-color: #255D92;
}

.mobile_menu_social_network_group {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
}

.mobile_menu_social_network_group>* {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 7% 8% 0% 8%;
    /* outline: 1px solid white; */
    transition: .5s;
}

.mobile_menu_social_network_group>* img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    margin: 0 0 0 0;
}

.mobile_menu_social_network_group>* img:hover {
    display: block;
    width: 50px;
    height: 50px;
    opacity: 1;
    margin: -5px 0 0 -5px;
    transition: .5s;
}