/*
----------------------------------------------------------------------------------------------------
    RESET CSS
---------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header,
main {
    color: #236FB0;
}

main {
    overflow-x: hidden;
    /* test carousel mobile */
    overflow-y: hidden;
}


/*
----------------------------------------------------------------------------------------------------
     HEADER
---------------------------------------------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_content {
    width: auto;
    height: 75px;
    background-color: white;
    padding: 20px 0 0 0;
}

.header_white_wave {
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

.logo {
    display: block;
    width: 202px;
    height: 83px;
    float: left;
    margin: -10px 0 0 6%;
}


/* Disable mobile menu */

#menu_mobile {
    display: none;
}


/* desktop menu */

#menu {
    display: block;
    float: right;
    height: 45px;
    margin: 10px 6% 0 0;
    padding-top: 3px;
    /* pointer-events: auto;
    cursor: default; */
    z-index: 10;
}

.menu_group {
    display: flex;
    /* flex-direction: no-wrap; */
    width: 10%;
    font-size: 17px;
    font-weight: 400;
}

.menu_group>* {
    width: auto;
    height: 27px;
    padding: 7px 10px 0 10px;
    margin: 0 3% 0 3%;
    color: #236FB0;
    text-align: center;
}

.menu_group>* :visited {
    color: #236FB0;
}

.menu_group>* :hover {
    background-color: white;
    color: #5fd6fe;
}


/* Hearder menu bt */

.header_menu_bt {
    width: auto;
    display: flex;
}


/* Search header Icon */

.search-icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0;
    background-image: url("images/search_icon.svg");
    background-repeat: no-repeat;
}

.search-icon:hover {
    background-image: url("images/search_icon_hover.svg");
}


/* Donate header button */

.menu_donate_bt :link {
    display: block;
    width: 100px;
    height: 38px;
    margin: -8px 0 0 15px;
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    transition: .5s;
}

.menu_donate_bt :hover {
    width: 120px;
    height: 43px;
    margin: -10px -20px 0 15px;
    transition: .5s;
}


/*
----------------------------------------------------------------------------------------------------
     Main part
---------------------------------------------------------------------------------------------------- */

.main_bg_blue {
    position: relative;
    top: -140px;
    width: 100%;
    transition: .5s;
}

.sample_part {
    width: auto;
    margin: 0 80px 0 80px;
    text-align: justify;
}

.sample_part h1 {
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 30px;
}

.sample_part p {
    margin-bottom: 15px;
}


/*
----------------------------------------------------------------------------------------------------
     Carousel
---------------------------------------------------------------------------------------------------- */

#actu_carousel {
    margin-top: 100px;
    /*border: 1px solid;*/
}

.iframe-embed-wrapper2 {
    width: 110%;
    margin: -40% auto 0 6%;
    /* border: 1px solid rgb(81, 255, 0); */
}

.iframe-embed-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    /* border: 1px solid rgb(36, 89, 11); */
}

.iframe-embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.iframe-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80%;
    border: 0;
    /* border: 1px solid rgb(4, 0, 255);*/
}


/*
----------------------------------------------------------------------------------------------------
     Other Main elements
---------------------------------------------------------------------------------------------------- */

h1 {
    font-weight: 700;
    font-size: 50px;
}


/* Bt PAGE UP */

#bt_page_up {
    display: block;
    /* position: fixed; */
    /* right: 30px; */
    float: right;
    width: 130px;
    height: auto;
    margin: 20px 20px 20px 0;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    color: #236FB0;
}

#bt_page_up .active {
    margin-bottom: 0;
}

.bt_page_up_icon {
    display: block;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin: -5px 0 0 15px;
    background-image: url("images/bt_page_up.svg");
    background-repeat: no-repeat;
}


/*----------------------------------------------------------------------------------------------------
     Footer 
---------------------------------------------------------------------------------------------------- */

.footer_blue_wave {
    width: 100%;
    height: auto;
}

footer {
    flex-shrink: 0;
    border-top: 1px solid #000;
    width: 100%;
    background-color: #236FB0;
    color: white;
}

.contenu-footer {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 50px 0;
}

.footer-logo {
    display: inline-block;
    text-align: center;
    /* border: 1px solid; */
}

.clear {
    clear: both;
}

.logo-footer {
    width: 50%;
    /* border: 1px solid; */
}

.logo-footer-icon {
    width: 25px;
    margin: 0px auto;
    clear: both;
    margin: 3px;
    margin-top: 16px;
}

.zbi a {
    opacity: 50%;
}

.zbi a:hover {
    color: white;
    opacity: 100%;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}


/*contact*/

.footer-Qui h3,
.footer-Agir h3,
.footer-Contact h3 {
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;
}

.contenu-footer li {
    font-size: 15px;
    line-height: 25px;
}

.liste-Qui,
.liste-Agir,
.liste-Contact {
    list-style-type: none;
}

.liste-Qui li {
    padding: 2px 0;
}

.liste-Qui a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.liste-Qui a:hover {
    color: white;
    opacity: 100%;
}

.liste-Agir li {
    padding: 2px 0;
}

.liste-Agir a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.liste-Agir a:hover {
    color: white;
    opacity: 100%;
}

.liste-Contact li {
    padding: 2px 0;
}

.liste-Contact a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.liste-Contact a:hover {
    color: white;
    opacity: 100%;
}


/* Footer Mentions légales */

.contenu-footer-bottom {
    width: 100%;
    height: 50px;
    background-color: #255D92;
    font-size: 13px;
    font-weight: 400;
}

.contenu-footer-bottom ul {
    display: flex;
}

.contenu-footer-bottom li {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 0 0 30px;
}

.contenu-footer-bottom li a {
    color: white;
    opacity: 50%;
}

.contenu-footer-bottom li a:hover {
    opacity: 100%;
}

.footer-conception {
    position: absolute;
    width: auto;
    height: auto;
    right: 20px;
    text-align: right;
}


/*Media queries*/

@media screen and (max-width: 1300px) {
    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
    .footer-logo {
        display: inline-block;
        text-align: left;
    }
    .zbi {
        text-align: center;
        max-width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .sample_part {
        width: auto;
        margin: 0 30px 0 30px;
    }
    .sample_part h1 {
        font-size: 30px;
        font-weight: 900;
        margin: 30px 0 30px 0;
    }
    .contenu-footer {
        width: auto;
        padding: 50px 0 0 0;
    }
    .bloc {
        width: auto;
        margin: 30px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
    .footer-logo {
        display: inline-block;
        width: auto;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    .zbi {
        text-align: center;
        max-width: none;
    }
    /* bottom Infos bar */
    .contenu-footer-bottom {
        height: auto;
        padding-top: 30px;
    }
    .contenu-footer-bottom ul {
        display: flex;
        flex-direction: column;
    }
    .contenu-footer-bottom li {
        display: block;
        width: auto;
        height: auto;
        padding: 15px 0 0 30px;
        margin: auto;
        text-align: center;
    }
    .footer-conception {
        position: relative;
        margin: 0 auto 30px auto;
        text-align: center;
    }
}


/*
----------------------------------------------------------------------------------------------------
     Responsive mode
---------------------------------------------------------------------------------------------------- */

@media (max-width: 1150px) {
    .header_content {
        padding: 10px 0 10px 0;
    }
    .logo {
        display: block;
        width: 162px;
        height: 65px;
        margin: 10px 6% 0 4%;
    }
    .menu_item :hover {
        background-color: white;
        color: white;
    }
    /* Taille Carousel */
    .iframe-embed-wrapper2 {
        width: 117.5%;
        margin: -32% auto 0 3%;
    }
    /*
    ----------------------------------------------------------------------------------------------------
    MOBILE MENU 
    ---------------------------------------------------------------------------------------------------- */
    #menu {
        display: none;
    }
    #menu_mobile {
        display: block;
    }
}

@media (max-width: 1300px) {
    .main_bg_blue {
        top: 50px;
        transition: .5s;
    }
}

@media (max-width: 600px) {
    .main_bg_blue {
        top: 90px;
        transition: .5s;
    }
    .header_white_wave {
        margin-top: -12px;
    }
    .iframe-embed-wrapper2 {
        margin: -22% auto 0 3%;
    }
}


/* !Important // for mobile device / Attribute the same height for the 2 embed */

@media (max-width: 400px) {
    .iframe-embed-wrapper2 {
        margin: -14% auto 0 3%;
        /* embed height 1 */
        height: 468px;
    }
    .iframe-embed-responsive-16by9 {
        padding-bottom: 100%;
    }
    .iframe-embed {
        /* border: 1px solid rgb(4, 0, 255); */
        /* embed height 2 */
        height: 468px;
    }
}