/*
----------------------------------------------------------------------------------------------------
    RESET CSS
---------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #236FB0;
}


/*
----------------------------------------------------------------------------------------------------
     HEADER
---------------------------------------------------------------------------------------------------- */

.header_hp_bg_white {
    display: block;
    position: fixed;
    width: 100%;
    height: 207px;
    top: 0px;
    background-image: url("images/header_hp_bg_white.svg");
    background-repeat: no-repeat;
    background-image: center;
    background-position: 50% -50px;
    background-size: cover;

    border: 1px solid burlywood;
    z-index:1;
}

/* Controled motion of white background curve */

@media (max-width: 1800px) {
    .header_hp_bg_white {
        height: 215px;
        background-position: 30% -50px;
        transition: .8s;
    }
}

@media (max-width: 1200px) {
    .header_hp_bg_white {
        height: 215px;
        background-position: 20% -50px;
        transition: .8s;
    }
}

/* Header center part */

#header_centered {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.logo {
    width: 202px;
    height: 83px;
}

#menu {
    display: block;
    float: right;
    margin: 35px 20px 0 0;
    pointer-events: auto;
    cursor: default;
    z-index: 10;
}

.menu_group {
    display: flex;
    flex-direction: no-wrap;
    font-weight: 400;
    font-size: 15px;
}

.menu_item :link {
    display: block;
    width: auto;
    height: 27px;
    border-radius: 15px;
    padding: 4px 20px 0 10px;
    margin: 0 5% 0 5%;
    text-align: center;
    transition: .5s;
    /*border: 1px solid;*/
}

.menu_item :hover{
    background-color: #236FB0;
    color: white;
}

/*
----------------------------------------------------------------------------------------------------
     Main part
---------------------------------------------------------------------------------------------------- */

.main_bg_blue {
    position: relative;
    /* margin-top: 300px; */
    top: 0px;
    /* background-image: url(images/header_hp_bg_blue.svg);

    background-repeat: no-repeat;
    background-position: 50% -100px;
    background-size: cover; */
    /* background-attachment: fixed; */
    height: 450px;
    width: 100%;
    border: 1px solid;
}

/* carousel */

#actu_carousel {
    margin-top: 100px;
    /*border: 1px solid;*/
}

embed {
    display: block;
    position: absolute;
    top:100px;
    width: 85%;
    height: 675px;
    margin: 0px 8% 0 8%;

    -webkit-box-shadow: 0px 22px 31px -11px rgba(87, 87, 87, 1);
    -moz-box-shadow: 0px 22px 31px -11px rgba(87, 87, 87, 1);
    box-shadow: 0px 22px 31px -11px rgba(87, 87, 87, 1);
    pointer-events: visible;
}


/*
----------------------------------------------------------------------------------------------------
     Autres éléments
---------------------------------------------------------------------------------------------------- */

h1 {
    font-weight: 700;
    font-size: 50px;
}