/*
----------------------------------------------------------------------------------------------------
    RESET CSS
---------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header,
main {
    color: #236FB0;
}

main {
    overflow-x: hidden;
}


/*
----------------------------------------------------------------------------------------------------
     HEADER
---------------------------------------------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_white_wave {
    width: 100%;
    height: auto;
}

.header_content {
    height: auto;
    background-color: white;
    padding: 20px 0 0 0;
}

.logo {
    width: 202px;
    height: 83px;
    margin-top: 10px;
    margin-left: 8%;
}


/* Disable mobile menu */

#menu_mobile {
    display: none;
}


/* desktop menu */

#menu {
    display: block;
    float: right;
    margin: 20px 6% 0 0;
    pointer-events: auto;
    cursor: default;
    z-index: 10;
}

.menu_group {
    display: flex;
    flex-direction: no-wrap;
    font-weight: 400;
    font-size: 15px;
}

.menu_item :link {
    display: block;
    width: auto;
    height: 27px;
    border-radius: 20px;
    padding: 10px 20px 0 10px;
    margin: 0 3% 0 3%;
    color: #236FB0;
    text-align: center;
    transition: .5s;
    /*border: 1px solid;*/
}

.menu_item :visited {
    color: #236FB0;
}

.menu_item :hover {
    background-color: #236FB0;
    color: white;
}


/* Search header Icon */

.search-icon {
    width: 22px;
    height: 22px;
    background-image: url("images/search_icon.svg");
    background-repeat: no-repeat;
    margin: 10px 0 0 20px;
}


/* Donate header button */

.menu_donate_bt :link {
    display: block;
    width: 102px;
    height: 38px;
    margin: 0 0 0 15px;
    background-image: url("images/bt-hp-donate.svg");
    transition: .5s;
}

.menu_donate_bt :hover {
    width: 125px;
    height: 47px;
    margin: -3px 0 0 15px;
    transition: .5s;
}


/*
----------------------------------------------------------------------------------------------------
     Main part
---------------------------------------------------------------------------------------------------- */

.main_bg_blue {
    position: relative;
    top: 0px;
    height: 450px;
    width: 100%;
    /* border: 1px solid; */
}


/*
----------------------------------------------------------------------------------------------------
     Carousel
---------------------------------------------------------------------------------------------------- */

#actu_carousel {
    margin-top: 100px;
    /*border: 1px solid;*/
}

.iframe-embed-wrapper2 {
    width: 110%;
    margin: -40% auto 0 6%;
    /* border: 1px solid rgb(81, 255, 0); */
}

.iframe-embed-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    /* border: 1px solid rgb(36, 89, 11); */
}

.iframe-embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.iframe-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80%;
    border: 0;
    /* border: 1px solid rgb(4, 0, 255);*/
}


/*
----------------------------------------------------------------------------------------------------
     Other Main elements
---------------------------------------------------------------------------------------------------- */

h1 {
    font-weight: 700;
    font-size: 50px;
}


/*
----------------------------------------------------------------------------------------------------
     Responsive mode
---------------------------------------------------------------------------------------------------- */

@media (max-width: 1150px) {
    .header_content {
        padding: 10px 0 10px 0;
    }
    .logo {
        width: 162px;
        height: 65px;
        margin-top: 10px;
        margin-left: 6%;
    }
    .menu_item :hover {
        background-color: white;
        color: white;
    }
    /* Taille Carousel */
    .iframe-embed-wrapper2 {
        width: 117.5%;
        margin: -32% auto 0 3%;
    }
    /*
    ----------------------------------------------------------------------------------------------------
    MOBILE MENU 
    ---------------------------------------------------------------------------------------------------- */
    #menu {
        display: none;
    }
    #menu_mobile {
        display: block;
    }
}

@media (max-width: 600px) {
    .header_white_wave {
        margin-top: -5px;
    }
    .iframe-embed-wrapper2 {
        margin: -22% auto 0 3%;
    }
}