/*
----------------------------------------------------------------------------------------------------
    RESET CSS
---------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header,
main {
    color: #236FB0;
}

main {
    overflow-x: hidden;
    /* test carousel mobile */
    overflow-y: hidden;
}


/*
----------------------------------------------------------------------------------------------------
     HEADER
---------------------------------------------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header_content {
    width: auto;
    height: 75px;
    background-color: white;
    padding: 20px 0 0 0;
}

.header_white_wave {
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

.logo {
    display: block;
    width: 202px;
    height: 83px;
    float: left;
    margin: -10px 0 0 6%;
}


/* Disable mobile menu */

#menu_mobile {
    display: none;
}


/* desktop menu */

#menu {
    display: block;
    float: right;
    height: 45px;
    margin: 10px 6% 0 0;
    padding-top: 3px;
    /* pointer-events: auto;
    cursor: default; */
    z-index: 10;
}

.menu_group {
    display: flex;
    /* flex-direction: no-wrap; */
    width: 10%;
    font-size: 17px;
    font-weight: 400;
}

.menu_group>* {
    width: auto;
    height: 27px;
    padding: 7px 10px 0 10px;
    margin: 0 3% 0 3%;
    text-align: center;
}

.menu_group>* :link,
.menu_group>* :visited {
    color: #236FB0;
}

.menu_group>* :hover {
    background-color: white;
    color: #5fd6fe;
}


/* Hearder menu bt */

.header_menu_bt {
    width: auto;
    display: flex;
}


/* Search header Icon */

.search-icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0;
    background-image: url("images/search_icon.svg");
    background-repeat: no-repeat;
}

.search-icon:hover {
    background-image: url("images/search_icon_hover.svg");
}


/* Donate header button */

.menu_donate_bt :link {
    display: block;
    width: 100px;
    height: 38px;
    margin: -8px 0 0 15px;
    background-image: url("images/bt-hp-donate.svg");
    background-repeat: no-repeat;
    transition: .5s;
}

.menu_donate_bt :hover {
    width: 120px;
    height: 43px;
    margin: -10px -20px 0 15px;
    transition: .5s;
}


/*
----------------------------------------------------------------------------------------------------
     Main part
---------------------------------------------------------------------------------------------------- */

.main_bg_blue {
    position: relative;
    top: -140px;
    width: 100%;
    transition: .5s;
}

.sample_part {
    display: block;
    width: auto;
    margin: 0 80px 0 80px;
    text-align: justify;
}


/* Main Titles */

.title {
    margin-bottom: 30px;
}

.title h1 {
    display: block;
    font-size: 37px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 30px;
}

.title h4 {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    margin-top: -25px;
}

.title_icon.testimony {
    display: block;
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 15px;
    background-image: url("images/title_icon_testimony.svg");
    background-repeat: no-repeat;
    transition: .5s;
}

.title_icon.testimony {
    background-image: url("images/title_icon_testimony.svg");
    background-repeat: no-repeat;
}

.sample_part p {
    margin-bottom: 15px;
}


/*
----------------------------------------------------------------------------------------------------
     Carousel
---------------------------------------------------------------------------------------------------- */

#actu_carousel {
    margin-top: 100px;
    /*border: 1px solid;*/
}

.iframe-embed-wrapper2 {
    width: 110%;
    margin: -40% auto 0 6%;
    /* border: 1px solid rgb(81, 255, 0); */
}

.iframe-embed-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    /* border: 1px solid rgb(36, 89, 11); */
}

.iframe-embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.iframe-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 80%;
    border: 0;
    /* border: 1px solid rgb(4, 0, 255);*/
}


/*
----------------------------------------------------------------------------------------------------
     Other Main elements
---------------------------------------------------------------------------------------------------- */


/* Bt PAGE UP */

#bt_page_up {
    display: block;
    /* position: fixed; */
    /* right: 30px; */
    float: right;
    width: 130px;
    height: auto;
    margin: 20px 20px 20px 0;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    color: #236FB0;
}

#bt_page_up .active {
    margin-bottom: 0;
}

.bt_page_up_icon {
    display: block;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin: -5px 0 0 15px;
    background-image: url("images/bt_page_up.svg");
    background-repeat: no-repeat;
}


/*----------------------------------------------------------------------------------------------------
     Footer 
---------------------------------------------------------------------------------------------------- */


/* only for mobile menu */

.footer_blue_wave {
    width: 100%;
    height: auto;
}


/* For desktop menu */

.footer_content {
    height: 200px;
    background-color: #236FB0;
    padding: 100px 10% 80px 100px;
}

.footer_content h3 {
    margin: 20px 0 20px 0;
    font-size: 16px;
    color: white;
}

.footer_content a {
    display: block;
    margin-bottom: 13px;
    font-size: 14px;
    color: white;
    opacity: .5;
}

.footer_content a:hover {
    opacity: 1;
}

.footer_content ul {
    display: flex;
    justify-content: space-between;
}

.footer_content ul ul {
    display: block;
    width: auto;
    height: auto;
}

.footer_logo {
    display: block;
    width: 145px;
    height: auto;
    margin: -20px 100px 0 0;
    cursor: pointer;
}

.footer_content ul ul ul {
    display: flex;
}

.footer_content ul ul ul li {
    width: 35px;
    height: 35px;
    margin-top: 38px;
}

.footer_content ul ul ul li:last-child {
    margin-top: 36px;
}


/* Footer Status Bar */

.footer_status_bar {
    width: 100%;
    background-color: #255D92;
    font-size: 13px;
    font-weight: 400;
}

.footer_status_bar ul {
    display: flex;
}

.footer_status_bar li {
    display: block;
    width: auto;
    height: auto;
    padding: 18px 0 15px 30px;
}

.footer_status_bar li a {
    color: white;
    opacity: 50%;
    margin: 0;
    padding: 0;
}

.footer_status_bar li a:hover {
    opacity: 100%;
}

.footer_status_bar li:last-child {
    position: absolute;
    right: 30px;
}

.footer_status_bar li ul li {
    width: auto;
    height: auto;
    margin: 0 20px 0 0;
    padding: 0;
}

.footer_status_bar li ul li:last-child {
    position: relative;
    margin: 0 0 0 30px;
}